<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='css/task1.css'>
</head>
<body>

<section id="app">
    <input type="text" v-model="userInput" placeholder="Поиск">
    <div v-for="article in validArticles" :key="article.title">
        <span>{{ article.title }}</span>
    </div>
</section>

<script src="js/task1.js"></script>
</body>
</html>