* {
    box-sizing: border-box;
    color: #0f1427;
}

h3, h2 {
    display: flex;
    justify-content: center;
}

.cost {
    display: flex;
    margin-top: auto;
    font-weight: bold;
}

label {
    display: flex;
    width: 100%;
}

#card {
    display: flex;
    flex-grow: 1; 
    flex-direction: column;
    background-color: #adb9c9;
    border: solid 1px #0f1427;
    padding: 10px;
}
